* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 36px;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
}

button {
    font-size: 24px;
}