* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 36px;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
}

button {
    font-size: 24px;
}

#calculatorDisplay {
    width: 240px;
    height: 60px;
    text-align: right;
    background-color: black;
    color: green;
}